<h1>Data Science Tools and Ecosystem</h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
<ol>
    <li>SQL</li>
    <li>R</li>
    <li>Java</li>
</ol>

Some of the commonly used libraries used by Data Scientists include:
<ol>
    <li>NumPy</li>
    <li>Pandas</li>
    <li>Matplotlib</li>
</ol>

| Data Science Tools |
|--------------------|
| Apache Hadoop |
| Apache Spark |
| RStudio |

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

In [10]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [11]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

<b>Objectives:</b>
<ol>
    <li>SQL</li>
    <li>R</li>
    <li>Java</li>
</ol>

<h2>Author</h2>
Saurabh Gadhave